<!DOCTYPE html>   <!-- !+Tab -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-SHOP</title>
</head>
<body>
    <h1>
        Welcome to our Online Shop !!!
    </h1>
    <h2>
        <p>productID: <span th:text="${product.productID}"></span></p>
        <p>productName: <span th:text="${product.productName}"></span></p>
        <p>productPrice: <span th:text="${product.productPrice}"></span></p>
    </h2>
</body>
</html>